.btn {
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 4.5rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--white {
    background: white;
    color: #777;

    &::after {
      background: white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4.5rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation-name: moveFromBottom;
    animation-duration: 1s;
    animation-fill-mode: backwards;
  }
}
